* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* O padrão será inter */
html {
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

li,
ul,
ol {
  list-style: none;
}

:root {
  /* VCC cores */
  --blue: #0F9AFE;
  --blue-100: #7fc8fd;
  --blue-200: #1c83cc;

  --white: #FFFFFF;
  --white-200: #EFF8FF;

  --gray: #6E7275;
  --gray-100: #DBDBDB;
  --gray-200: #293145;

  /* VCC fonts */
  --sora: 'Sora', sans-serif;
  --nunito: 'Nunito', sans-serif;
  --roboto: 'Roboto', sans-serif;
}