/* resetar css e definir padrões */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

li, ul, ol {
  list-style: none;
}

/* cores  */
:root {
  --blue: #37abff;
  --blue-light: #7fc8fd;
  --blue-200: #EFF8FF;
  --white: #FFFFFF;
  --white-400: #EFFBFF;
  --gray: #6E7275;
  --gray-light: #DBDBDB;
  --gray-light-200: #aaaaaa;
  --gray-200: #293145;
}

/* fontes */
.sora {
  font-family: 'Sora', sans-serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}
