.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: relative;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  /* para herdar */
  font-size: 1.125rem;
  font-weight: 500;
}

.btn-acesso {
  color: var(--gray);
  padding: 0.625rem 0;
  position: relative;
  text-align: center;
}

.btn-acesso::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--blue-100);
  position: absolute;
  bottom: 0px;
}

.btn-acesso:hover::after {
  width: 100%;
  transition: .4s;
}

#botaoMobile {
  display: none;
}

@media (max-width: 800px) {
  #menu {
    display: none;
  }

  #nav.active #menu {
    display: block;
    position: absolute;
    left: 0px;
    padding: 0 1rem;
    background-color: var(--white);
    width: 100%;
    bottom: -165px;
  }

  #menu li {
    padding-left: 1rem;
    border-bottom: var(--gray-100) solid 1px;
  }

  /* aparecendo botaoMobile */
  #botaoMobile {
    display: flex;
    padding: .5rem;
    position: relative;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  #botaoMobile::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--gray-200);
    color: var(--gray-200);
  }

  #botaoMobile::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--gray-200);
    color: var(--gray-200);
    position: absolute;
    top: 15px;
    right: 8px;
  }

  #botaoMobile span {
    position: relative;
  }

  #botaoMobile span::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--gray-200);
    color: var(--gray-200);
    position: absolute;
    top: -7px;
  }

  .btn-acesso::after {
    display: none;
  }
}