/* article da página parte final das artistas */

.article-div {
  display: grid;
  padding: 2rem;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
}

.article-h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--preto);
}

.article-ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 20px;
}

/* foto altura padrão width="396" height="484" */
/* deixei auto como padrão pra caber no container e não bugar */
/* tirei 84px do article-li no height pra foto renderizar legal no cover */

.article-li {
  display: block;
  width: auto;
  height: 400px;
  transition: .5s;
  padding: 1rem;
}

.article-li:hover {
  transform: translateX(-3px);
}

.sabine {
  background-image: url("../../imgs/img-da-sabine.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.eleanor {
  background-image: url("../../imgs/img-da-eleanor.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;

}

.leisler {
  background-image: url("../../imgs/img-da-leisler.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.article-h5 {
  color: var(--branco);
  font-size: 1.2rem;
  font-weight: 600;
}

.article-p {
  color: var(--cinza);
  font-size: .9rem;
  font-weight: 400;
}

@media (max-width:630px) {
  .article-ol {
    grid-template-columns: 1fr;
  }
}