/* section da página */
section {
  background-color: var(--cinza-claro);
}

.section-div {
  padding: 3rem 2rem;
  max-width: 1050px;
  margin: 0 auto;
}

/* container pai principal */
.section-div-flex {
  display: flex;
  align-items: center;
}

/* ol e filhos */
.section-ol {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 60%;
}

.li-section img {
  height: 163px;
  display: block;
  max-width: 100%;
  transition: .5s;
}

.li-section img:hover {
  transform: translateY(-5px);
}

/* seção do bloco da direita */

.div-width {
  width: 30%;
  padding-left: 20px;
}

.section-h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.btn-vermais {
  margin: 1rem 0;
}

@media (max-width:600px) {
  .section-div-flex{
    flex-direction: column;
  }

  .section-ol {
    display: block;
    width: 100%;
  }

  .li-section {
    margin-bottom: 20px;
  }

  .li-section img {
    height: 50%;
    width: 100%;
  }

  .div-width {
    display: inline;
    width: 100%;
    padding-left: 0px;
  }
}

@media (max-width:560px) {
  .section-h3 {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .btn-vermais {
    margin: .5rem 0;
  }
}