
.header-ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.btn-acessos {
  padding: .6rem;
  border-radius: 8px;
  transition: .3s;
}

.btn-acessos:hover {
  background-color: var(--white);
}

@media (max-width:550px) {
  /* div filho do header,
  feita para o responsivo */
  .header-div {
    padding: 1rem 2rem; 
    flex-direction: column;
    row-gap: 16px;
  }

  .header-ul {
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
 }

 .btn-acessos {
  padding: .5rem;
  background-color: var(--white);
 }
}