/* section 1 corpo 1 */

.section-1 {
    background-color: #EFF8FF;
    display: flex;
    justify-content: center;
}

.grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    align-items: center;
    width: 80%;
}

.grid-1 span {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    width: 100%;
}

.grid-1 span img {
    object-fit: contain;
}

.grid-1 h1 {
    color: #293145;
    font-size: 2.4rem;
    line-height: 1;
}

.cadastro {
    display: inline-block;
    color: #fff;
    background-color: #0F9AFE;
    border-radius: 2rem;
    font-size: 1.1rem;
    margin-top: 1rem;
    padding: 10px 1rem;
    transition: .5s;
    border: #0F9AFE solid 1px;
}

.cadastro:hover {
    background-color: #fff;
    color: #0F9AFE;
    border: #f0f0f0 solid 1px;
}

@media (max-width: 1050px) {
    .grid-1 span img {
        object-fit: cover;
        max-width: 90%;
    }

    .grid-1 h1 {
        padding: 1rem 0;
        font-size: 1.8rem;
    }

    .cadastro {
        font-size: .8rem;
    }
}

@media (max-width: 550px) {
    .grid-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    .grid-1 h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 300px) {
    .grid-1 h1 {
        font-size: 1rem;
    }

    .cadastro {
        font-size: .6rem;
    }
}