.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: .5rem 1rem;
}

.header-nav ol {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.btn-acesso {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray);
    padding: .9rem 0;
    position: relative;
}

.btn-acesso::after {
    content: '';
    height: 2px;
    width: 0px;
    background-color: var(--gray-light-200);
    display: block;
    bottom: 5px;
    position: absolute;
    transition: .4s;
}

.btn-acesso:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-nav ol {
        width: 60%;
    }
}

@media (max-width: 550px) {

    .btn-logo {
        margin: 1rem 0;
    }

    .header-nav {
        flex-direction: column;
        row-gap: 10px;
    }

    .header-nav ol {
        flex-wrap: wrap-reverse;
        width: auto;
        column-gap: 16px;
    }

    .btn-acesso {
        font-size: 1rem;
        padding: .5rem;
        border-radius: 10px;
        background-color: var(--white-200);
        border: solid 1px var(--gray-light-200);
    }
}

@media (max-width: 400px) {
    .header-nav ol {
        flex-direction: column;
        row-gap: 10px;
    }
}