/* entrada principal do xbox serie s */
main {
  display: flex;
  padding: 3rem 0;
}

.main-div {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

.main-div p {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--verde);
  margin-bottom: 5rem;
}

.main-div-img {
  display: grid;
}

.main-div-img img {
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 500px) {
  
  main {
    padding: 0;
  }

  .main-div {
    padding: 0 2rem;
  }

  h1 {
    font-size: 2rem;
  }

  .main-div p {
    font-size: 1rem;
    margin-bottom: 3rem;
  }

}
