header {
  background: var(--dark-100);
  width: 100%;
  position: fixed;
  z-index: 1;
}

#regularNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto 0 155px;
  padding: .8rem 0;
  position: relative;
}

.btn-aranha {
  position: absolute;
  right: 530px;
}

.linkOrdenado {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 25%;
}

.linkOrdenado li a:hover {
  color: var(--red);
}

#botaoMobile {
  display: none;
}

@media (max-width: 1000px) {
  #regularNavigation {
    margin: 0 auto;
    padding: .8rem 1rem;
  }

  .btn-aranha {
    right: 450px;
  }
}

@media (max-width: 800px) {
  .linkOrdenado {
    display: none;
  }

  #botaoMobile {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .btn-aranha {
    right: 380px;
  }
}

@media (max-width: 600px) {
  .btn-aranha {
    right: 270px;
  }
}

@media (max-width: 450px) {
  .btn-aranha {
    right: 190px;
  }
}

@media (max-width: 400px) {
  .btn-aranha {
    right: 140px;
  }
}