/* corpo */

main {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 2;
}

.containerMireles {
  position: relative;
}

.containerMireles::after {
  content: url(../img/button.svg);
  display: block;
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 160px;
}