main {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-row: 2;
}

.containerMireles {
  position: relative;
}

.containerMireles::after {
  content: url(../img/button.svg);
  display: block;
  cursor: pointer;
  position: absolute;
  right: 70px;
  top: 160px;
}

@media (max-width: 800px) {
  .containerMireles {
    width: 250px;
    height: 150px;
  }

  .containerMireles::after {
    width: 150px;
    height: 100px;
  }
}

@media (max-width: 600px) {
  .containerMireles {
    width: 200px;
    height: 100px;
  }

  .containerMireles::after {
    width: 50px;
    height: 50px;
    right: 150px;
  }
}