nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 100px;
  min-height: 623px;
  width: 70px;
  padding: .6rem .4rem 1rem .4rem;
  position: relative;
  z-index: 3;
  background-color: var(--dark-100);
}

.login {
  width: 40px;
  position: relative;
  cursor: pointer;
}

.login::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: var(--green);
  border: solid 1px var(--white);
  border-radius: 50%;
  position: absolute;
  bottom: 3px;
  right: 0;
}

.acessos {
  display: grid;
  align-content: space-between;
}

.redeSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.imgRede {
  width: 25px;
}

@media (max-width: 1000px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: auto;
    width: auto;
    padding: .2rem 1rem;
    position: relative;
    z-index: 3;
    grid-row: -1;
  }

  .acessos {
    display: flex;
    justify-content: space-between;
    min-width: 55%;
  }

  .redeSocial {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 800px) {
  .acessos {
    min-width: 60%;
  }
}

@media (max-width: 450px) {
  nav {
    display: inline-flex;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 0;
  }

  .acessos {
    display: flex;
    justify-content: space-between;
    min-width: auto;
    width: 70%;
  }

  .form {
    grid-column: 2;
  }
}