* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
img,
section,
article,
main,
footer,
header {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter';
}

/* cores de variavel */

:root {
  --cinza:#EBEBEB;
  --cinza-claro: #f2f2f2;
  --roxo: #3772FF;
  --cinza-gradiente: #737373;
  --preto: #0C0C0C;
  --roxo-claro: #5789fe;
  --azul: #8dd3f6;
  --branco: #F9F9F9;
}

.btn-branco-e-roxo {
  display: inline-block;
  text-transform: uppercase;
  padding: 8px 2.5rem;
  border-radius: 4px;
  color: var(--branco);
  background: var(--roxo);
  font-weight: 700;
  transition: .3s;
}

.btn-branco-e-roxo:hover {
  background: var(--roxo-claro);
}

@media (max-width:960px) {
  .btn-branco-e-roxo {
    padding: 5px 2rem;
  }
}

@media (max-width:350px) {
  .btn-branco-e-roxo {
    font-size: .9rem;
    padding: 5px 1rem;
  }
}
