*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca';
}

li,
ol,
ul {
  list-style: none;
}

/* VCC */
:root {
  --gray: #717171;
  --gray-200: #1A202C;
  --white: #FFFFFF;
  --white-200: #F3F5F7;
  --purple: #574AE8;
  --purple-200: #574ae8a9;
  --gradient: linear-gradient(270deg, #3EA1DB 0%, #574AE8 100%);
}